.main{
    display: flex;
}

ul {
    list-style-type: none;
    max-height: 600px;
    overflow-y: scroll
}

li {
    /*height: ;*/
    /*line-height: 30px;*/
}
.aside{
    flex-grow: 0.3;
}

.mapContainer{
    flex-grow: 0.7;
}